{{ define "main" }}

<div class="articles-grid">
  {{- range .Site.RegularPages -}}
    {{- if eq .Section "posts" -}}
    <article class="card">
      <a href="{{ .Permalink }}" class="card-link">
        <div class="card-content">
          {{- with .Params.categories -}}
            {{- range . -}}
              <span class="card-category">{{ . }}</span>
              {{/* Space or newline needed between the spans for proper display. */}}
            {{- end -}}
          {{- end -}}
          <h2 class="card-title">{{ .Title }}</h2>
          <p class="card-excerpt">{{ .Summary | plainify | truncate 50 }}</p>
          <div class="card-meta">
            <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
          </div>
        </div>
      </a>
    </article>
    {{- end -}}
  {{- end -}}
</div>

{{ end }}
